body {
    font-family: Arial, sans-serif;
    color: bisque;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #9393fc;
    background-image: url(weather1.jpg);
    background-repeat: no-repeat;

}

#result {
    margin-top: 20px;
    font-size: 18px;
}

#getWeather{
    border-radius: 5px;
    border-style: none;
    height: 22px;
    background-color:cornsilk;
    transition: background-color 0.3s ease;
}

.container{
    border-radius: 10px;
    height: 100%;
    justify-content: center;
    align-self: center;
}

#getWeather:hover{
    background-color: #9393fc;
}

#getWeather:active{
    transform: scale(0.95);
}

.container > input{
    border-radius: 3px;
    border-style: none;
    height: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}