body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #9393fc;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}